.activity {
  font-family: ubuntu;
  border: 1px solid var(--color-medium);
  padding: 10px;
  /* margin-bottom: 10px; */

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#activityLogContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

  background-color: rgb(231, 222, 206);
  padding: 4rem;
  border-radius: 0.5rem;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}
