.modalEdit {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;

  background-color: rgb(231, 222, 206);
  padding: 6rem;
  border-radius: 0.5rem;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

label {
  font-size: 2rem;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
select {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

label[for="form_task_subtask_edit"] {
  display: flex;
  align-items: center;
}

.form_task_subtask_edit {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.form_task_dropdown_edit {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.form_task_dropdown_edit select {
  padding: 1rem;
}

input[type="submit"] {
  width: 100%;
  padding: 1rem;
  background-color: var(--color-medium);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: rgb(250, 201, 103);
}
