nav {
  background-color: rgb(255, 195, 77);
  height: fit-content;
  color: var(--color-dark);
  font-family: ubuntu;
}

.navContent {
  gap: 1rem;
  padding: 1.5rem;
  color: var(--color-dark);

  display: flex;
  align-items: center;
}

.navHamburger svg {
  width: 3rem;
  height: 3rem;
  stroke: var(--color-dark);
}
